<div class="container my-5">
    <div class="row">

        <div class="col-sm">
            <h1>The shoppies</h1>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                    <form action="/" method="POST">
                        <input onchange="this.form.sumbit()" class="form-control form-control-lg my-2" type="text"
                            placeholder="Put Down A Movie's Name and Hit Enter" id="movieName" name="movieName" />
                    </form>
                    <!-- <button type="button" class="btn btn-primary  my-2" onclick="addMovie()">
                        
                            ADD MOVIE
                        </button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm">
            <div class="card my-2">
                <div class="card-body" id="searchResult">
                    <% if (movieName) { %>
                        <h5 class="card-title">Results for "<%= movieName %>"</h5>
                        
                        <ul class="list-group">
                            <% resultMovieArr.forEach(function (movie) { %>
                                    
                                    <li class="list-group-item">
                                        <%= movie.Title %> (<%= movie.Year %>)
                                                <button type="button" id="<%= movie.Title %>(<%= movie.Year %>)" class="btn btn-info mb-2">Nominate</button>
                                    </li>
                            
                                

                            <% }) %>

                        </ul>
                        
                        <% } else { %>
                            <h5 class="card-title">There is no search result</h5>
                            <% } %>

                </div>
            </div>

        </div>

        <div class="col-sm">
            <div class="card my-2">
                <div class="card-body" id="nominationContainer">
                    
                    
                    
                    <!-- <button type="button" id="removeNominationButton" class="btn btn-danger btn-md my-2" onclick="">
                        Remove
                    </button> -->

                </div>
            </div>

        </div>

    </div>
</div>